<div class="jumbotron">
    <h1>Awesome Women Empowered</h1>
    <p class="lead">AWE empowers women and girls by building all-age schools where there are none.</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Maryam Mirzakhani</h2>
        <p>In 2014 she became the first woman to be honored with the Fields Medal, the most prestigious award in mathematics.</p>
        <img class="img-responsive" src="~/Images/maryam-mirzakhani.jpg" />
    </div>
    <div class="col-md-4">
        <h3>Now is the time...</h3>
        <p>The single most effective way to increase the quality of life across all borders and economic classes is to empower women worldwide in every possible way, from early education to election to highest office.</p>

        <p>Any element that stands in the way of this goal is, by its very definition, unjust.  Injustice against an individual is immoral, but when it is suffered by a group of human beings who have already been held back for no legitimate reason, it becomes evil.</p>

        <p>We're just one group of many.  If building schools isn't your thing then take a look at this list of <a href="/">women-empowerment groups</a> around the world who rate highly on CharityWatch.  Find one that appeals to you and get involved in any way you can.</p>

        <p>The daughters, sisters, and mothers of the world thank you.</p>

        <blockquote>
            <p>
                <em>"Your gender shouldn't determine whether you get an education."</em><br />
            </p>
            <footer>Tirunesh, 15, Ethiopia</footer>
        </blockquote>
    </div>
</div>